body {
    font-family: Arial, sans-serif;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
input[type="number"] {
    width: 95%;
    padding: 5px;
    margin-bottom: 10px;
  }

button {
    padding: 10px;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
button:hover {
    background-color: #5495da;
  }
  
#result {
    margin-top: 20px;
    font-size: 24px;
    background-color: coral;
    font-weight: bold;
  }

.container{
    width: 400px;
    border: 2px solid black;
    border-radius: 2rem;
    box-sizing: border-box;
    box-shadow: 0 0 25px 5px black;
    background-color: aqua;
}